<template>
    <div>
        <div class="mb-2" v-for="article in articles" :key="article.id">
            <div class="flex flex-wrap">
                <div class="w-3/4 px-6 h-100">
                    <div class="mb-1">
                        <span
                        v-for="tag in article.tags"
                        :key="tag.id">
                        <a :href="`/articles/tags/` + tag.id" class="font-light text-xs text-grey-dark uppercase no-underline hover:underline">{{ tag.title + ' ' }}</a>
                        </span>
                    </div>
                    <div>
                        <a class="font-bold text-lg text-grey-darkest no-underline" :href="`/detail/` + article.id">{{ article.title }}</a>
                    </div>
                    <div class="text-grey-dark mt-2">
                        {{ article.short_content }}
                    </div>
                    <div class="text-grey-base text-sm mt-2">Author : {{ article.author.name }}</div>
                    <div class="text-grey-dark text-sm mt-2">{{ article.created_at | moment("MMMM Do YYYY") }}</div>
                </div>
                <div class="w-1/4">
                    <img :src="article.featured_image" alt="cover-image" class="h-100">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                articles: [],
                featured: []
            }
        },
        mounted() {
            axios.get('/articles')
                .then(res => {
                    this.articles = res.data.data;
                }).catch(err => {
                    console.log(err)
                })
        }
    }
</script>
