<template>
    <div>
        <div class="flex flex-wrap -mx-3 mb-2">
            <div class="w-full md:w-2/4 text-grey-darker text-justify px-10 py-2 m-2">
                <div class="text-center mb-2">
                    <img :src="article.featured_image" :alt="article.title">
                </div>
                <div>
                    <span
                        v-for="tag in article.tags"
                        :key="tag.id">
                        <a :href="`/articles/tags/` + tag.id" class="font-light text-xs text-grey-dark uppercase no-underline hover:underline">{{ tag.title + ' ' }}</a>
                    </span>
                </div>
                <div>
                    <a class="font-bold text-3xl text-grey-darkest no-underline" href="javascript:void(0)">{{ article.title }}</a>
                </div>
                <div class="text-grey-darkest mt-2">
                    <p class="text-grey-base py-2">{{ article.short_content }}</p>
                    <p class="text-grey-base py-2">{{ article.long_content }}</p>
                </div>
                <div class="text-grey-base text-sm mt-2">{{ article.author.name }}</div>
                <div class="text-grey-dark text-sm mt-2">{{ article.created_at | moment("MMMM Do YYYY") }}</div>
                <div class="mt-10">
                    <a href="/" class="bg-transparent hover:bg-grey-dark text-grey-dark font-semibold hover:text-white py-1 px-2 border border-grey hover:border-transparent rounded no-underline">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                article: {}
            }
        },
        mounted() {
            var id = _.last( window.location.pathname.split( '/' ) );
            axios.get('/articles/' + id)
                .then(res => {
                    this.article = res.data;
                }).catch(err => {
                    console.log(err)
                })
        }
    }
</script>
