<template>
    <div>
        <div class="flex flex-wrap mt-2 mb-2" v-for="(article, index) in featuredArticles" :key="article.id">
            <div class="w-1/4">
                <div class="font-light text-4xl text-grey-light">0{{ index + 1 }}</div>
            </div>
            <div class="w-3/4">
                <div>
                    <a class="font-bold text-sm text-grey-darkest no-underline" :href="`/detail/` + article.id">
                        {{ article.title }}
                    </a>
                </div>
                <div class="text-grey-base text-sm mt-2">{{ article.author.name }}</div>
                <div class="text-grey-dark text-sm mt-2">{{ article.created_at | moment("MMMM Do YYYY") }}</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                featuredArticles: []
            }
        },
        mounted() {
            axios.get('/featured')
                .then(res => {
                    this.featuredArticles = res.data.data;
                }).catch(err => {
                    console.log(err)
                })
        }
    }
</script>
